<div class="post-container">
  <div class="post-header">
    <p class="user-name">
      <% if post.user.avatar.attached? %>
        <%= image_tag post.user.avatar, class: "avatar" %>
      <% else %>
        <%= render "shared/default_icon" %>
      <% end %>
      <%= post.user.name %>
    </p>
    <p class="post-date"><%= post.created_at.strftime("%m/%d %H:%M") %></p>
  </div>
  <%= link_to post, class: 'post-details-link', data: { turbo: false } do %>
    <div class="post-details">
      <p>スタジアム: <%= post.stadium_name %></p>
      <p>観戦日: <%= post.match_date.strftime("%m/%d") %></p>
      <p>応援したチーム: <%= post.supported_team %></p>
    </div>
  <% end %>
  <p class="post-comment"><%= post.comment %></p>
  <div class="d-flex">
    <% if current_user&.present? %>
      <%= render 'shared/bookmark_link', post: post unless current_user.own?(post) %>
      <%= link_to edit_post_path(post), data: { turbo: false } do %>
        <%= render 'shared/edit_icon' if current_user.own?(post) %>
      <% end %>
    <% end %>
    <div class="post-footer ms-auto">
      <%= link_to "詳細を見る", post, class: "post-footer-link", data: { turbo: false } %>
    </div>
  </div>
</div>
