<div class="new-post-form">
  <%= form_with model: @user do |form| %>
    <div class="new-post-field">
      <%= form.label :name, "ユーザー名" %>
      <%= form.text_field :name, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= form.label :email, "メールアドレス" %>
      <%= form.text_field :email, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= form.label :password, "パスワード" %>
      <%= form.password_field :password, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= form.label :password_confirmation, "パスワード(確認用)" %>
      <%= form.password_field :password_confirmation, class: "form" %>
    </div>

    <div class="new-post-button-container">
      <%= form.submit "プロフィールを更新する", class: "form-button" %>
    </div>
  <% end %>
</div>


