<div class="background-image">
  <div class="title-container">
    <h1 class="title">Goal gossip</h1>
    <p class="subtitle">サッカーの試合を観戦した感想を投稿してみよう！</p>
  </div>
  <% if user_signed_in? %>
    <div class="new-post-link-container">
      <%= link_to "感想を投稿する", new_post_path, class: "new-post-link" %>
    </div>
  <% else %>
    <div class="auth-options-container">
      <div class="auth-link-container">
        <%= link_to "新規登録フォームへ", new_user_registration_path, class: "auth-link" %>
      </div>
      <div class="auth-link-container">
        <%= link_to "ログインフォームへ", new_user_session_path, class: "auth-link" %>
      </div>
      <div class="auth-link-container">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, data: { turbo_method: :post }, class: "auth-link" %>
      </div>
    </div>
  <% end %>

  <div class="form-container">
    <%= render 'search_form', reset_path: root_path %>
    <h2 class="form-title">~ 投稿一覧 ~</h2>
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
