<div class="background-image">
  <div class="title-container">
    <h1 class="title">Goal gossip</h1>
    <p class="subtitle">サッカーの試合を観戦した感想を投稿してみよう！</p>
  </div>
  <% if user_signed_in? %>
    <div class="new-post-link-container">
      <%= link_to "感想を投稿する", new_post_path, class: "new-post-link" %>
    </div>
  <% else %>
    <div class="auth-options-container">
      <div class="auth-link-container">
        <%= link_to "新規登録フォームへ", new_user_registration_path, class: "auth-link" %>
      </div>
      <div class="auth-link-container">
        <%= link_to "ログインフォームへ", new_user_session_path, class: "auth-link" %>
      </div>
      <div class="auth-link-container">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, data: { turbo_method: :post }, class: "auth-link" %>
      </div>
    </div>
  <% end %>

  <div class="form-container">
    <%= search_form_for @q, url: root_path do |f| %>
      <%= f.label :stadium_name_cont, "スタジアム名" %>
      <%= f.search_field :stadium_name_cont %>
      <%= f.label :address_cont, "住所" %>
      <%= f.search_field :address_cont %>
      <%= f.label :match_date_eq, "観戦日" %>
      <%= f.date_field :match_date_eq %>
      <%= f.label :supported_team_cont, "応援したチーム" %>
      <%= f.search_field :supported_team_cont %>
      <%= f.submit "検索" %>
    <% end %>
  </div>

  <div class="form-container">
    <h2 class="form-title">~ 投稿一覧 ~</h2>
    <% @posts.each do |post| %>
      <div class="post-container">
        <div class="post-header">
          <p class="user-name"><%= post.user.name %></p>
          <p class="post-date"><%= post.created_at.strftime("%m/%d %H:%M") %></p>
        </div>
        <%= link_to post, class: 'post-details-link' do %>
          <div class="post-details">
            <p>スタジアム: <%= post.stadium_name %></p>
            <p>観戦日: <%= post.match_date.strftime("%m/%d") %></p>
            <p>応援したチーム: <%= post.supported_team %></p>
          </div>
        <% end %>
        <p class="post-comment"><%= post.comment %></p>
        <div class="post-footer">
          <%= link_to "詳細を見る", post_path(post), class: "post-footer-link" %>
        </div>
      </div>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
