<div class="title-container">
  <h1 class="title">Goal gossip</h1>
  <p class="subtitle">サッカーの試合を観戦した感想を投稿してみよう！</p>
</div>
<% if user_signed_in? %>
  <div class="new-post-link-container">
    <%= link_to "感想を投稿する", new_post_path, class: "new-post-link" %>
  </div>
<% else %>
  <div class="auth-options-container">
    <div class="auth-link-container">
      <%= link_to "新規登録フォームへ", new_user_registration_path, class: "auth-link" %>
    </div>
    <div class="auth-link-container">
      <%= link_to "ログインフォームへ", new_user_session_path, class: "auth-link" %>
    </div>
    <div class="auth-link-container">
      <%= link_to "ゲストログイン", users_guest_sign_in_path, data: { turbo_method: :post }, class: "auth-link" %>
    </div>
  </div>
<% end %>

<input id="address" type="textbox" value="">
<input type="button" value="送信" onclick="codeAddress()">
<div id="addressDisplay"></div>
<div id="map"></div>

<script>
  const addressDis = document.getElementById('addressDisplay')

  function initMap() {
    national_stadium = {lat: 35.677824, lng: 139.714541}

    map = new google.maps.Map(document.getElementById('map'), {
      center: national_stadium,
      zoom: 12,
    });

    marker = new google.maps.Marker({
      position: national_stadium,
      map: map
    });
  }

  function codeAddress(){
    geocoder = new google.maps.Geocoder();
    inputAddress = document.getElementById('address').value;

    geocoder.geocode({ 'address': inputAddress}, function(results, status){
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        marker = new google.maps.Marker({
          position: results[0].geometry.location,
          map: map,
        });
        addressDis.innerHTML = results[0].formatted_address;
      } else {
        alert("該当する結果がありませんでした：" + status);
      }
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
