<div class="background-image">
  <%= render 'shared/breadcrumbs', title: 'マイページ' %>
  <div class="form-container">
    <h2 class="form-title">~ マイページ ~</h2>
    <%= link_to "ブックマーク一覧へ", bookmarks_posts_path, class: "post-footer-link" %>
    <div class="mt-5">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
