<div class="background-image">
  <%= render 'shared/breadcrumbs', title: '投稿編集' %>
  <div class="form-container">
    <%= render 'posts/search_form' %>
    <h2 class="form-title">~ 投稿編集 ~</h2>
    <%= render 'shared/error_messages', object: @post %>
    <%= form_with model: @post do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= render 'form_fields', form: form %>
      <div class="button-container">
        <%= form.submit "更新する", class: "form-button" %>
      </div>
    <% end %>
    <%= link_to "戻る", :back %>
  </div>
</div>

<% content_for :js do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
  <%= javascript_import_module_tag "posts/edit" %>
<% end %>
