<div class="background-image">
  <div class="search-form-container">
    <%= label_tag :stadium, "あなたが観戦したスタジアムを入力してください", class: "search-form-label" %>
    <%= text_field_tag :stadium, nil, id: 'address', placeholder: "例: 国立競技場", class: "search-form-input" %>
    <%= button_tag "入力", type: "button", class: "search-form-button" %>
  </div>

  <div class="form-container">
    <h2 class="form-title">~ 観戦記録を編集する ~</h2>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= @post.errors.count %>件のエラーが発生しました</h2>

        <ul>
          <% @post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with model: @post do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <div class="field">
        <%= form.label :stadium_name, "スタジアム名" %>
        <%= form.text_field :stadium_name, class: "form", placeholder: "自動で入力されます" %>
      </div>

      <div class="field">
        <%= form.label :address, "住所" %>
        <%= form.text_field :address, class: "form", placeholder: "自動で入力されます" %>
      </div>

      <div class="field">
        <%= form.label :match_date, "観戦日" %>
        <%= form.date_field :match_date, class: "form" %>
      </div>

      <div class="field">
        <%= form.label :supported_team, "応援したチーム" %>
        <%= form.text_field :supported_team, class: "form" %>
      </div>

      <div class="field">
        <%= form.label :comment, "観戦した感想" %>
        <%= form.text_area :comment, class: "form" %>
      </div>

      <div class="field">
        <%= label_tag :map, "観戦したスタジアムの場所" %>
        <div id="map"></div>
      </div>

      <div class="button-container">
        <%= form.submit "更新する", class: "form-button" %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
  <%= javascript_import_module_tag "posts/new" %>
<% end %>
