<div class="search-form-container">
  <%= label_tag :stadium, "あなたが観戦したスタジアムを入力してください", class: "search-form-label" %>
  <%= text_field_tag :stadium, nil, id: 'address', placeholder: "例: 国立競技場", class: "search-form-input" %>
  <%= button_tag "入力", type: "button", onclick: "codeAddress()", class: "search-form-button" %>
</div>

<div class="new-post-form">
  <%= form_with model: @post do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="new-post-field">
      <%= form.label :stadium_name, "スタジアム名" %>
      <%= form.text_field :stadium_name, class: "form", placeholder: "自動で入力されます" %>
    </div>

    <div class="new-post-field">
      <%= form.label :address, "住所" %>
      <%= form.text_field :address, class: "form", placeholder: "自動で入力されます" %>
    </div>

    <div class="new-post-field">
      <%= form.label :match_date, "観戦日" %>
      <%= form.date_field :match_date, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= form.label :supported_team, "応援したチーム" %>
      <%= form.text_field :supported_team, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= form.label :comment, "観戦した感想" %>
      <%= form.text_area :comment, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= label_tag :map, "観戦したスタジアムの場所" %>
      <div id="map"></div>
    </div>

    <div class="new-post-button-container">
      <%= form.submit "投稿する", class: "new-post-button", class: "form-button" %>
    </div>
  <% end %>
</div>

<script>
  let map, marker, geocoder;
  const nameDis = document.getElementById('post_stadium_name')
  const addressDis = document.getElementById('post_address')

  function initMap() {
    const nationalStadium = {lat: 35.677824, lng: 139.714541}

    map = new google.maps.Map(document.getElementById('map'), {
      center: nationalStadium,
      zoom: 14,
    });

    marker = new google.maps.Marker({
      position: nationalStadium,
      map: map,
    });

    geocoder = new google.maps.Geocoder();
  }

  function codeAddress() {
    const inputAddress = document.getElementById('address').value;

    geocoder.geocode({ address: inputAddress }, (results, status) => {
      if (status === 'OK' && results[0]) {
        const location = results[0].geometry.location;
        map.setCenter(location);
        marker.setPosition(location);
        nameDis.value = inputAddress;
        addressDis.value = results[0].formatted_address;
      } else {
        alert(`該当する結果がありませんでした：${status}`);
      }
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
