<%= text_field_tag :stadium, nil, id: 'address' %>
<%= button_tag "検索", type: "button", onclick: "codeAddress()" %>

<div class="new-post-form">
  <%= form_with model: @post do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="new-post-field">
      <%= form.label :stadium_name, "スタジアム名" %>
      <%= form.text_field :stadium_name, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= form.label :address, "住所" %>
      <%= form.text_field :address, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= form.label :match_date, "観戦日" %>
      <%= form.date_field :match_date, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= form.label :supported_team, "応援したチーム" %>
      <%= form.text_field :supported_team, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= form.label :comment, "観戦した感想" %>
      <%= form.text_area :comment, class: "form" %>
    </div>

    <div id="map"></div>

    <div class="new-post-button-container">
      <%= form.submit "投稿する", class: "new-post-button", class: "form-button" %>
    </div>
  <% end %>
</div>

<script>
  function initMap() {
    national_stadium = {lat: 35.677824, lng: 139.714541} // latが緯度、lngが経度

    // new google.maps.Mapで地図を表示
    map = new google.maps.Map(document.getElementById('map'), {
      center: national_stadium, // 地図の中心になる座標を指定
      zoom: 14, // 地図のズームレベルを指定
    });

    // new google.maps.Markerでピンを表示
    marker = new google.maps.Marker({
      position: national_stadium, // ピンの表示位置を座標で指定
      map: map, // ピンを表示する地図を指定
    });
  }

  function codeAddress() {
    // Geocoding APIを利用
    geocoder = new google.maps.Geocoder();

    inputAddress = document.getElementById('address').value;

    // geocoder.geocodeでスタジアム名から緯度経度を取得
    geocoder.geocode({ 'address': inputAddress }, function(results, status) {
      if (status == 'OK') {
        // map.setCenterでスタジアム名の座標を指定
        map.setCenter(results[0].geometry.location); // results[0].geometry.locationで緯度経度を取得
        marker = new google.maps.Marker({
          position: results[0].geometry.location,
          map: map,
        });
      } else {
        alert("該当する結果がありませんでした：" + status);
      }
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
