<div class="background-image">
  <div class="form-container">
    <h2 class="form-title">~ 観戦記録の詳細 ~</h2>
    <%= form_with model: @post do |form| %>
      <%= render 'form_fields', form: form, readonly: true %>
      <% if current_user && @post.user_id == current_user.id %>
        <div class="button-container">
          <%= link_to "編集する", edit_post_path(@post), class: "form-button" %>
        </div>
        <div class="links-container">
          <%= link_to "削除する", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "投稿を削除してよろしいですか？" } %>
        </div>
      <% end %>
    <% end %>
    <%= link_to "戻る", root_path %>
  </div>
</div>

<% content_for :js do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
  <%= javascript_import_module_tag "posts/show" %>
<% end %>
