<div class="background-image">

  <%= render 'shared/breadcrumbs', title: '投稿詳細' %>
  <div class="form-container">
    <div class="links-container">
      <% if current_user&.id == @post.user_id %>
        <%= link_to edit_post_path, data: { turbo: false } do %>
          <%= render 'shared/edit_icon' %>
        <% end %>
        <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: "投稿を削除してよろしいですか？" } do %>
          <%= render 'shared/destroy_icon' %>
        <% end %>
      <% end %>
    </div>
    <h2 class="form-title">~ 投稿詳細 ~</h2>
    <%= form_with model: @post do |form| %>
      <div class="field">
        <%= form.label :user_name, "ユーザー名" %>
        <%= form.text_field :user_name, class: "form", readonly: true, value: @post.user.name %>
      </div>
      <%= render 'form_fields', form: form, readonly: true %>
      <%= link_to "戻る", root_path, class: "form-button" %>
    <% end %>
  </div>
</div>

<% content_for :js do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
  <%= javascript_import_module_tag "posts/show" %>
<% end %>
