<div class="background-image">
  <%= render 'shared/breadcrumbs', title: '投稿詳細' %>
  <div class="form-container">
    <h2 class="form-title">~ 投稿詳細 ~</h2>
    <%= form_with model: @post do |form| %>
      <div class="field">
        <%= form.label :user_name, "ユーザー名" %>
        <%= form.text_field :user_name, class: "form", readonly: true, value: @post.user.name %>
      </div>
      <%= render 'form_fields', form: form, readonly: true %>
      <% if current_user&.id == @post.user_id %>
        <div class="button-container">
          <%= link_to "編集する", edit_post_path(@post), class: "form-button" %>
        </div>
        <div class="links-container">
          <%= link_to "削除する", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "投稿を削除してよろしいですか？" } %>
        </div>
      <% end %>
    <% end %>
    <%= link_to "戻る", root_path %>
  </div>
</div>

<% content_for :js do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
  <%= javascript_import_module_tag "posts/show" %>
<% end %>
