<header class="site-header">
  <h1 class="site-title"><%= link_to "Goal gossip", root_path, class: "site-title-link" %></h1>
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "About", "#", class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "ログイン", "#", class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "新規登録", "#", class: "nav-link" %></li>
    </ul>
  </nav>
</header>
