<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="new-post-form">
  <h2 class="form-title">~ プロフィールを編集する ~</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="new-post-field">
      <%= f.label :name, "ユーザーネーム" %><br />
      <%= f.text_field :name, autofocus: true, class: "form" %>
    </div>

    <div class="new-post-field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="new-post-field">
      <%= f.label :password, "パスワード" %> <i>(変更しない場合は空欄のままにしてください)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="new-post-field">
      <%= f.label :password_confirmation, "確認用パスワード" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form" %>
    </div>

    <div class="new-post-field">
      <%= f.label :current_password, "現在のパスワード" %> <i>(変更内容を確認するために現在のパスワードが必要です)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form" %>
    </div>

    <div class="new-post-button-container">
      <%= f.submit "プロフィールを更新する", class: "form-button" %>
    </div>
  <% end %>

  <h3>アカウントを削除する</h3>

  <div><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete %></div>

  <%= link_to "戻る", :back %>
</div>
